n8n-workflows/cad_simulation_pipeline.json
{
  "name": "CAD Simulation Pipeline (Local)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const raw = $('List Input Files').first().json.stdout || '';\n\nconst supportedExts = ['.fbx','.usd','.usda','.usdc','.abc','.blend','.obj','.gltf','.glb'];\nconst parts = raw.split('---PDF---');\nconst cadLines = parts[0].split('\\n').map(f => f.trim()).filter(f => f.length > 0);\nconst pdfLines = (parts[1] || '').split('\\n').map(f => f.trim()).filter(f => f.length > 0);\n\nfunction getExt(f) { return f.slice(f.lastIndexOf('.')).toLowerCase(); }\nfunction getBase(f) { return f.slice(0, f.lastIndexOf('.')).toLowerCase(); }\n\nconst cadFiles = cadLines.filter(f => supportedExts.includes(getExt(f)));\nconst pdfFiles = pdfLines.filter(f => getExt(f) === '.pdf');\n\nlet match = null;\nfor (const cad of cadFiles) {\n  const cadBase = getBase(cad);\n  const pdf = pdfFiles.find(p => getBase(p) === cadBase);\n  if (pdf) {\n    match = { pairFound: true, baseName: cadBase, cadFile: cad, pdfFile: pdf };\n    break;\n  }\n}\n\nreturn [{ json: match ?? { pairFound: false, baseName: null, cadFile: null, pdfFile: null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        160
      ],
      "id": "1696fa33-38b6-45cd-a94b-7c7be26e9182",
      "name": "Scan Input Folders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6eebc7a7-8a00-4ca2-a544-6e97dc442157",
              "leftValue": "={{ $json.pairFound }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        160
      ],
      "id": "307f46c8-7c26-48ac-9a1c-cd33e3fa5a89",
      "name": "pair check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "deec7f48-bc8e-4cc9-b3db-71c47109ef55",
              "leftValue": "={{ $json.pairFound }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1280,
        384
      ],
      "id": "3f901226-af40-44fb-a479-799db243b073",
      "name": "retry pair check"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        160
      ],
      "id": "259b1abe-b793-4ae4-918d-90dc41ca4380",
      "name": "Manual trigger"
    },
    {
      "parameters": {
        "errorMessage": "No matching CAD+PDF pair found after retry. Check C:\\pipeline\\inputs\\cad\\ and C:\\pipeline\\inputs\\pdf\\ for matching baseNames."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1520,
        400
      ],
      "id": "aef4e903-3fc9-444e-a4da-c79917cd09d3",
      "name": "log pair failure"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = n => String(n).padStart(2,'0');\nconst ts = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\nconst baseName = $input.first().json.baseName;\nconst jobId = `${baseName}_${ts}`;\nreturn[\n  {\n    json:\n    {\n      ...$input.first().json,\n      jobId,\n      intermediatesDir: `C:\\\\pipeline\\\\intermediates\\\\${jobId}`,\n      outputsDir: `C:\\\\pipeline\\\\outputs`,\n      logsDir: `C:\\\\pipeline\\\\logs`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        144
      ],
      "id": "b049a9c2-3f8d-4350-a00f-9df6ae953b86",
      "name": "generate jobID"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        384
      ],
      "id": "34dc641f-dc5d-4a9b-a33c-ed334f297e9f",
      "name": "Wait (30s)",
      "webhookId": "e1fdf7fd-c095-4ac1-959e-8d71c69bb568"
    },
    {
      "parameters": {
        "command": "cmd /c \"dir /b C:\\pipeline\\inputs\\cad & echo ---PDF--- & dir /b C:\\pipeline\\inputs\\pdf\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "id": "2eae65bc-2e3c-4ed2-ac3f-cfd2503bdc28",
      "name": "List Input Files"
    },
    {
      "parameters": {
        "command": "cmd /c \"dir /b C:\\pipeline\\inputs\\cad & echo ---PDF--- & dir /b C:\\pipeline\\inputs\\pdf\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        832,
        384
      ],
      "id": "79a40817-2bca-453c-bb74-8216e9fcca8a",
      "name": "List Input Files1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('List Input Files1').first().json.stdout || '';\n\nconst supportedExts = ['.fbx','.usd','.usda','.usdc','.abc','.blend','.obj','.gltf','.glb'];\nconst parts = raw.split('---PDF---');\nconst cadLines = parts[0].split('\\n').map(f => f.trim()).filter(f => f.length > 0);\nconst pdfLines = (parts[1] || '').split('\\n').map(f => f.trim()).filter(f => f.length > 0);\n\nfunction getExt(f) { return f.slice(f.lastIndexOf('.')).toLowerCase(); }\nfunction getBase(f) { return f.slice(0, f.lastIndexOf('.')).toLowerCase(); }\n\nconst cadFiles = cadLines.filter(f => supportedExts.includes(getExt(f)));\nconst pdfFiles = pdfLines.filter(f => getExt(f) === '.pdf');\n\nlet match = null;\nfor (const cad of cadFiles) {\n  const cadBase = getBase(cad);\n  const pdf = pdfFiles.find(p => getBase(p) === cadBase);\n  if (pdf) {\n    match = { pairFound: true, baseName: cadBase, cadFile: cad, pdfFile: pdf };\n    break;\n  }\n}\n\nreturn [{ json: match ?? { pairFound: false, baseName: null, cadFile: null, pdfFile: null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        384
      ],
      "id": "1109c012-d00f-4439-ad48-d62aea710391",
      "name": "Scan Input Folders1"
    },
    {
      "parameters": {
        "fileSelector": "={{ 'C:\\\\pipeline\\\\inputs\\\\pdf\\\\' + $('generate jobID').first().json.baseName + '.pdf' }}",
        "options": {
          "mimeType": "application/pdf",
          "dataPropertyName": "pdfBinary"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        880
      ],
      "id": "e91c8055-5560-4ad5-97a2-a40b1e45c18c",
      "name": "Extract from File (PDF)"
    },
    {
      "parameters": {
        "command": "=cmd /c mkdir \"{{ $('generate jobID').first().json.intermediatesDir }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -288,
        880
      ],
      "id": "e2158e81-a4f5-48ec-8ab1-d442c3b09a57",
      "name": "Create Job Folder"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Claude Call 1').first().json.content[0].text;\n\n// Strip markdown fences if present\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Claude Call 1 JSON parse failed: ' + e.message + '\\nRaw output: ' + raw);\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        880
      ],
      "id": "19164e42-cb39-4b04-b4be-2f41166089d3",
      "name": "Parse Claude Call 1 Response"
    },
    {
      "parameters": {
        "jsCode": "const content = JSON.stringify($('Parse Claude Call 1 Response').first().json, null, 2);\nconst buffer = Buffer.from(content, 'utf8');\nconst base64 = buffer.toString('base64');\n\nreturn [{ json: {}, binary: { data: { data: base64, mimeType: 'application/json', fileName: $('generate jobID').first().json.jobId + '-procedural.json' } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        880
      ],
      "id": "8a9e18bf-e72e-49ed-957f-755ed9b9ec11",
      "name": "Prepare Procedural JSON Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:\\\\pipeline\\\\intermediates\\\\' + $('generate jobID').first().json.jobId + '\\\\' + $('generate jobID').first().json.jobId + '-procedural.json' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        832,
        880
      ],
      "id": "eb6bf318-5cc5-4bed-a0de-ecf6d8f6bfb5",
      "name": "Write Procedural JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CLAUDE_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"application/pdf\",\n            \"data\": \"{{ $('Extract from File (PDF)').first().json.pdfBinary }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"You are a mechanical simulation engineer. Extract the procedural assembly steps from this PDF and return ONLY a valid JSON object — no markdown fences, no preamble, no commentary.\\n\\nThe JSON must match this schema exactly:\\n{\\n  \\\"jobId\\\": \\\"{{ $('generate jobID').first().json.jobId }}\\\",\\n  \\\"sourceDocument\\\": \\\"{{ $('generate jobID').first().json.baseName }}.pdf\\\",\\n  \\\"totalDurationSeconds\\\": <number>,\\n  \\\"steps\\\": [\\n    {\\n      \\\"stepId\\\": \\\"step_001\\\",\\n      \\\"order\\\": 1,\\n      \\\"action\\\": \\\"<one of: move|rotate|grip|release|weld|drill|place|wait|approach|retract>\\\",\\n      \\\"targetObject\\\": \\\"<mesh name>\\\",\\n      \\\"toolInteraction\\\": \\\"<string or null>\\\",\\n      \\\"motionParams\\\": {\\n        \\\"startPosition\\\": [x,y,z] or null,\\n        \\\"endPosition\\\": [x,y,z] or null,\\n        \\\"rotationDegrees\\\": [x,y,z] or null,\\n        \\\"speed\\\": <number or null>\\n      },\\n      \\\"durationSeconds\\\": <positive number>,\\n      \\\"dependsOnStepId\\\": \\\"<string or null>\\\"\\n    }\\n  ]\\n}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        880
      ],
      "id": "2f350444-82aa-4914-99b2-c75adf03150d",
      "name": "Claude Call"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    content: [{\n      text: JSON.stringify({\n        jobId: $('generate jobID').first().json.jobId,\n        sourceDocument: $('generate jobID').first().json.baseName + '.pdf',\n        totalDurationSeconds: 10,\n        steps: [{\n          stepId: \"step_001\",\n          order: 1,\n          action: \"move\",\n          targetObject: \"Arm\",\n          toolInteraction: null,\n          motionParams: {\n            startPosition: [0,0,0],\n            endPosition: [1,0,0],\n            rotationDegrees: null,\n            speed: 1.0\n          },\n          durationSeconds: 5,\n          dependsOnStepId: null\n        }]\n      })\n    }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1072
      ],
      "id": "87dbde71-ce3f-42b6-a6d2-eb227e3cc21f",
      "name": "Claude Call 1"
    },
    {
      "parameters": {
        "command": "={{ $json.blenderCmd }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        1536
      ],
      "id": "dbfa5448-795d-48be-8ff6-7e38273c4389",
      "name": "Run Blender Preprocess"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\nconst cadFile = $('generate jobID').first().json.cadFile;\nconst intermediatesDir = $('generate jobID').first().json.intermediatesDir;\n\nreturn [{\n  json: {\n    blenderCmd: `\"C:\\\\Program Files\\\\Blender Foundation\\\\Blender 4.5\\\\blender.exe\" --background --python \"C:\\\\Users\\\\HPG9-01\\\\projects\\\\mechanical-sim-automation-poc\\\\scripts\\\\blender_preprocess.py\" -- --input \"C:\\\\pipeline\\\\inputs\\\\cad\\\\${cadFile}\" --output \"${intermediatesDir}\\\\${jobId}-object-manifest.json\"`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1536
      ],
      "id": "d8851ee1-a400-4ed9-9328-8dd5f2a313c5",
      "name": "Build Blender Command"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('generate jobID').first().json.intermediatesDir }}\\{{ $('generate jobID').first().json.jobId }}-object-manifest.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        2144
      ],
      "id": "d919939a-9221-4e38-893f-32818d415a60",
      "name": "Read Object Manifest"
    }
  ],
  "pinData": {},
  "connections": {
    "Scan Input Folders": {
      "main": [
        [
          {
            "node": "pair check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual trigger": {
      "main": [
        [
          {
            "node": "List Input Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pair check": {
      "main": [
        [
          {
            "node": "generate jobID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait (30s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retry pair check": {
      "main": [
        [
          {
            "node": "generate jobID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log pair failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (30s)": {
      "main": [
        [
          {
            "node": "List Input Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Input Files": {
      "main": [
        [
          {
            "node": "Scan Input Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Input Files1": {
      "main": [
        [
          {
            "node": "Scan Input Folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Input Folders1": {
      "main": [
        [
          {
            "node": "retry pair check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate jobID": {
      "main": [
        [
          {
            "node": "Create Job Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Folder": {
      "main": [
        [
          {
            "node": "Extract from File (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File (PDF)": {
      "main": [
        [
          {
            "node": "Claude Call 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Call 1 Response": {
      "main": [
        [
          {
            "node": "Prepare Procedural JSON Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Procedural JSON Binary": {
      "main": [
        [
          {
            "node": "Write Procedural JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Call": {
      "main": [
        []
      ]
    },
    "Claude Call 1": {
      "main": [
        [
          {
            "node": "Parse Claude Call 1 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Procedural JSON": {
      "main": [
        [
          {
            "node": "Build Blender Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Blender Preprocess": {
      "main": [
        [
          {
            "node": "Read Object Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Blender Command": {
      "main": [
        [
          {
            "node": "Run Blender Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "23a0da19-6225-4efc-b7fe-54d0dda75452",
  "meta": {
    "instanceId": "26aec703d4ef38ac4e911caf870148d44cf371b3b58793422bf8af1f68ed0daf"
  },
  "nodeGroups": [],
  "id": "yclIKSy4QxFTdntr",
  "tags": []
}