n8n-workflows/cad_simulation_pipeline.json
{
  "name": "CAD Simulation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cad-pipeline",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bcce5008-ffda-48e9-9a8a-48c9c7e0649c",
      "name": "Webhook",
      "webhookId": "d3694e77-f702-4547-afcb-e4784f73055c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body;\nconst record = body.Records[0];\n\nconst bucket = record.s3.bucket.name;\nconst key = decodeURIComponent(record.s3.object.key.replace(/\\+/g, ' '));\nconst eventTime = record.eventTime;\n\nconst fileExtension = key.split('.').pop().toLowerCase();\nconst fileType = fileExtension === 'pdf' ? 'pdf' : 'cad';\n\nconst jobId = `job-${Date.now()}`;\n\nreturn {\n  bucket,\n  key,\n  fileType,\n  fileExtension,\n  eventTime,\n  jobId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "1e605b75-d30d-4dc4-8374-718e786b0fb4",
      "name": "Parse S3 Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd58c23b-dcca-40a2-bae1-b71c28f0e024",
              "leftValue": "={{ $json.fileType }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "e98dcd03-d89f-403e-8b1c-a18d95e44984",
      "name": "Is PDF or CAD?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\n\nreturn {\n  jobId: data.jobId,\n  cadBucket: data.bucket,\n  cadKey: data.key,\n  cadReceivedAt: data.eventTime,\n  status: 'cad_received'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "e4ec3f22-3b5f-444b-8561-f7bd7c6ea806",
      "name": "Store CAD Info"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\n\nreturn {\n  jobId: data.jobId,\n  pdfBucket: data.bucket,\n  pdfKey: data.key,\n  pdfReceivedAt: data.eventTime,\n  status: 'pdf_received'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "bb00c238-dfd6-4a48-aacf-67d223aceb36",
      "name": "Store PDF Info"
    },
    {
      "parameters": {
        "jsCode": "const pdfKey = $input.item.json.pdfKey;  \n// e.g., \"inputs/pdf/gearbox_v1.pdf\"\n\nconst baseName = pdfKey.split('/').pop().split('.')[0];  \n// → \"gearbox_v1\"\n\nreturn {\n  baseName,\n  lookInFolder: \"inputs/cad\",\n  originalKey: pdfKey,\n  jobId: $input.item.json.jobId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -96
      ],
      "id": "eb49a2dd-bb19-4ca0-b51e-2149e7d14f68",
      "name": "Extract baseName (PDF)"
    },
    {
      "parameters": {
        "jsCode": "const cadKey = $input.item.json.cadKey;\n\nconst baseName = cadKey.split('/').pop().split('.')[0];\n\nreturn {\n  baseName,\n  lookInFolder: \"inputs/pdf\",\n  originalKey: cadKey,\n  jobId: $input.item.json.jobId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        96
      ],
      "id": "0d530ac6-ec7c-4960-ba6d-27faea323bf6",
      "name": "Extract baseName (CAD)"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "cad-simulation-inputs",
        "limit": 10,
        "options": {
          "folderKey": "={{ $json.searchPrefix }}"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1056,
        -96
      ],
      "id": "81ab0b7c-11e3-4c71-b24d-06c46e242409",
      "name": "List CAD Files (Search for Pair)",
      "credentials": {
        "aws": {
          "id": "GndNCw2s9hh8Kino",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "cad-simulation-inputs",
        "limit": 10,
        "options": {
          "folderKey": "={{ $json.searchPrefix }}"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1056,
        96
      ],
      "id": "99e04022-4caa-4b64-9f1c-1c0392422b20",
      "name": "List PDF Files (Search for Pair)",
      "credentials": {
        "aws": {
          "id": "GndNCw2s9hh8Kino",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const file = $input.item.json;\nconst baseName = $('Extract baseName (PDF)').item.json.baseName;\n\nconst fileKey = file.Key || '';\nconst matches = fileKey.includes(baseName);\n\nreturn matches ? [{ json: { ...file, baseName, pairFound: true } }] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -96
      ],
      "id": "b1df0f6c-5091-484c-a069-8acbe5193234",
      "name": "Filter by baseName Match"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const file = $input.item.json;\nconst baseName = $('Extract baseName (PDF)').item.json.baseName;\n\nconst fileKey = file.Key || '';\nconst matches = fileKey.includes(baseName);\n\nreturn matches ? [{ json: { ...file, baseName, pairFound: true } }] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        96
      ],
      "id": "49c166bc-f8d4-4081-ac5a-6b84190db932",
      "name": "Filter by baseName Match1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c134c0c0-daee-4114-a04c-19445e510810"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        432,
        -240
      ],
      "id": "832c6a6b-d9c2-4ed4-b967-a44380f4d149",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse S3 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse S3 Payload": {
      "main": [
        [
          {
            "node": "Is PDF or CAD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF or CAD?": {
      "main": [
        [
          {
            "node": "Store PDF Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store CAD Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store CAD Info": {
      "main": [
        [
          {
            "node": "Extract baseName (CAD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store PDF Info": {
      "main": [
        [
          {
            "node": "Extract baseName (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract baseName (PDF)": {
      "main": [
        [
          {
            "node": "List CAD Files (Search for Pair)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract baseName (CAD)": {
      "main": [
        [
          {
            "node": "List PDF Files (Search for Pair)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List PDF Files (Search for Pair)": {
      "main": [
        [
          {
            "node": "Filter by baseName Match1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List CAD Files (Search for Pair)": {
      "main": [
        [
          {
            "node": "Filter by baseName Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by baseName Match": {
      "main": [
        []
      ]
    },
    "Filter by baseName Match1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "6f322adf-9a71-43c5-ba06-e72fa96fb2cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2ff990ff0a99ffc5120a7820ad3f1e5ba862e23906e9d5c88c86926de4fe126"
  },
  "nodeGroups": [],
  "id": "lB73AgeBs6Hpi4QK",
  "tags": []
}