n8n-workflows/cad_simulation_pipeline.json
{
  "name": "CAD Simulation Pipeline (Local)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const raw = $('List Input Files').first().json.stdout || '';\n\nconst supportedExts = ['.fbx','.usd','.usda','.usdc','.abc','.blend','.obj','.gltf','.glb'];\nconst parts = raw.split('---PDF---');\nconst cadLines = parts[0].split('\\n').map(f => f.trim()).filter(f => f.length > 0);\nconst pdfLines = (parts[1] || '').split('\\n').map(f => f.trim()).filter(f => f.length > 0);\n\nfunction getExt(f) { return f.slice(f.lastIndexOf('.')).toLowerCase(); }\nfunction getBase(f) { return f.slice(0, f.lastIndexOf('.')).toLowerCase(); }\n\nconst cadFiles = cadLines.filter(f => supportedExts.includes(getExt(f)));\nconst pdfFiles = pdfLines.filter(f => getExt(f) === '.pdf');\n\nlet match = null;\nfor (const cad of cadFiles) {\n  const cadBase = getBase(cad);\n  const pdf = pdfFiles.find(p => getBase(p) === cadBase);\n  if (pdf) {\n    match = { pairFound: true, baseName: cadBase, cadFile: cad, pdfFile: pdf };\n    break;\n  }\n}\n\nreturn [{ json: match ?? { pairFound: false, baseName: null, cadFile: null, pdfFile: null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        16
      ],
      "id": "d2a40839-e24e-432b-9bcc-ab6f75304022",
      "name": "Scan Input Folders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6eebc7a7-8a00-4ca2-a544-6e97dc442157",
              "leftValue": "={{ $json.pairFound }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        16
      ],
      "id": "64fd4d6d-ae8d-4ffd-8cd8-34856a73e70a",
      "name": "pair check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "deec7f48-bc8e-4cc9-b3db-71c47109ef55",
              "leftValue": "={{ $json.pairFound }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        240
      ],
      "id": "ba18bce5-4e7f-47c4-a40c-53aee39f0e8a",
      "name": "retry pair check"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        16
      ],
      "id": "f13055eb-cca8-4cb0-b8b7-75eed0145830",
      "name": "Manual trigger"
    },
    {
      "parameters": {
        "errorMessage": "No matching CAD+PDF pair found after retry. Check C:\\pipeline\\inputs\\cad\\ and C:\\pipeline\\inputs\\pdf\\ for matching baseNames."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "3a0642a8-b524-4cd7-8e36-8134b0b0a738",
      "name": "log pair failure"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = n => String(n).padStart(2,'0');\nconst ts = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\nconst baseName = $input.first().json.baseName;\nconst jobId = `${baseName}_${ts}`;\nreturn[\n  {\n    json:\n    {\n      ...$input.first().json,\n      jobId,\n      intermediatesDir: `C:\\\\pipeline\\\\intermediates\\\\${jobId}`,\n      outputsDir: `C:\\\\pipeline\\\\outputs`,\n      logsDir: `C:\\\\pipeline\\\\logs`,\n      repoRoot: `C:\\\\Users\\\\HPG9-01\\\\projects\\\\mechanical-sim-automation-poc`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "e1f15741-5a1c-4f69-b7a4-b002e6666c60",
      "name": "generate jobID"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -896,
        240
      ],
      "id": "b9594f69-7dcc-4543-b089-74a385342fd8",
      "name": "Wait (30s)",
      "webhookId": "e1fdf7fd-c095-4ac1-959e-8d71c69bb568"
    },
    {
      "parameters": {
        "command": "cmd /c \"dir /b C:\\pipeline\\inputs\\cad & echo ---PDF--- & dir /b C:\\pipeline\\inputs\\pdf\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1568,
        16
      ],
      "id": "dbdf52ca-194d-4a75-aca0-b13d3e013b6f",
      "name": "List Input Files"
    },
    {
      "parameters": {
        "command": "cmd /c \"dir /b C:\\pipeline\\inputs\\cad & echo ---PDF--- & dir /b C:\\pipeline\\inputs\\pdf\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -672,
        240
      ],
      "id": "9b25bbce-bfaa-425a-82a7-d13f2a662e00",
      "name": "List Input Files1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('List Input Files1').first().json.stdout || '';\n\nconst supportedExts = ['.fbx','.usd','.usda','.usdc','.abc','.blend','.obj','.gltf','.glb'];\nconst parts = raw.split('---PDF---');\nconst cadLines = parts[0].split('\\n').map(f => f.trim()).filter(f => f.length > 0);\nconst pdfLines = (parts[1] || '').split('\\n').map(f => f.trim()).filter(f => f.length > 0);\n\nfunction getExt(f) { return f.slice(f.lastIndexOf('.')).toLowerCase(); }\nfunction getBase(f) { return f.slice(0, f.lastIndexOf('.')).toLowerCase(); }\n\nconst cadFiles = cadLines.filter(f => supportedExts.includes(getExt(f)));\nconst pdfFiles = pdfLines.filter(f => getExt(f) === '.pdf');\n\nlet match = null;\nfor (const cad of cadFiles) {\n  const cadBase = getBase(cad);\n  const pdf = pdfFiles.find(p => getBase(p) === cadBase);\n  if (pdf) {\n    match = { pairFound: true, baseName: cadBase, cadFile: cad, pdfFile: pdf };\n    break;\n  }\n}\n\nreturn [{ json: match ?? { pairFound: false, baseName: null, cadFile: null, pdfFile: null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        240
      ],
      "id": "ac599c5d-83b4-40c6-8338-5d2a8dc61521",
      "name": "Scan Input Folders1"
    },
    {
      "parameters": {
        "fileSelector": "={{ 'C:\\\\pipeline\\\\inputs\\\\pdf\\\\' + $('generate jobID').first().json.baseName + '.pdf' }}",
        "options": {
          "mimeType": "application/pdf",
          "dataPropertyName": "pdfBinary"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1568,
        688
      ],
      "id": "1788a6c0-1c3d-46b8-817f-01eadcadc7b2",
      "name": "Extract from File (PDF)"
    },
    {
      "parameters": {
        "command": "=cmd /c mkdir \"{{ $('generate jobID').first().json.intermediatesDir }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1792,
        688
      ],
      "id": "45fd2edd-a82d-494a-a0ec-f1f2870dabc6",
      "name": "Create Job Folder"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('groq call1').first().json.choices[0].message.content;\n\n// Strip markdown fences if present\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Claude Call 1 JSON parse failed: ' + e.message + '\\nRaw output: ' + raw);\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        688
      ],
      "id": "9f0e0ab8-0c8f-43f5-910e-93bc154e0370",
      "name": "Parse Claude Call 1 Response"
    },
    {
      "parameters": {
        "jsCode": "const content = JSON.stringify($('Parse Claude Call 1 Response').first().json, null, 2);\nconst buffer = Buffer.from(content, 'utf8');\nconst base64 = buffer.toString('base64');\n\nreturn [{ json: {}, binary: { data: { data: base64, mimeType: 'application/json', fileName: $('generate jobID').first().json.jobId + '-procedural.json' } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        688
      ],
      "id": "e4d27fcd-0ebf-46e5-978d-d4ce72505da2",
      "name": "Prepare Procedural JSON Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:\\\\pipeline\\\\intermediates\\\\' + $('generate jobID').first().json.jobId + '\\\\' + $('generate jobID').first().json.jobId + '-procedural.json' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        688
      ],
      "id": "00892648-edbd-4c1f-8532-afc97928406f",
      "name": "Write Procedural JSON"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\n\nconst parsed = {\n  jobId: jobId,\n  sourceDocument: \"10M_THICKENER.pdf\",\n  totalDurationSeconds: 10,\n  steps: [\n    {\n      stepId: \"step1\",\n      order: 1,\n      action: \"approach\",\n      targetObject: \"Thickener\",\n      toolInteraction: null,\n      motionParams: {\n        startPosition: [10, -10, 5],\n        endPosition: [2, -2, 1.5],\n        rotationDegrees: null,\n        speed: null\n      },\n      durationSeconds: 4,\n      dependsOnStepId: null\n    },\n    {\n      stepId: \"step2\",\n      order: 2,\n      action: \"rotate\",\n      targetObject: \"Thickener\",\n      toolInteraction: null,\n      motionParams: {\n        startPosition: null,\n        endPosition: null,\n        rotationDegrees: [0, 0, 360],\n        speed: null\n      },\n      durationSeconds: 6,\n      dependsOnStepId: \"step1\"\n    }\n  ]\n};\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        352
      ],
      "id": "a8c2bdb5-639b-47e5-b513-47d9a7c34e2e",
      "name": "Claude Call 1"
    },
    {
      "parameters": {
        "command": "={{ $json.blenderCmd }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1568,
        1184
      ],
      "id": "b283e0c4-6c82-4410-9b17-d61c06cf07a1",
      "name": "Run Blender Preprocess"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\nconst cadFile = $('generate jobID').first().json.cadFile;\nconst intermediatesDir = $('generate jobID').first().json.intermediatesDir;\nconst logPath = `C:\\\\pipeline\\\\logs\\\\${jobId}-blender-preprocess.log`;\nreturn [{\n  json: {\n    blenderCmd: `cmd /c \"\"C:\\\\Program Files\\\\Blender Foundation\\\\Blender 4.5\\\\blender.exe\" --background --python \"C:\\\\Users\\\\HPG9-01\\\\projects\\\\mechanical-sim-automation-poc\\\\scripts\\\\blender_preprocess.py\" -- --input \"C:\\\\pipeline\\\\inputs\\\\cad\\\\${cadFile}\" --output \"${intermediatesDir}\\\\${jobId}-object-manifest.json\" >> \"${logPath}\" 2>&1 & echo PREPROCESS_DONE\"`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        1184
      ],
      "id": "fcfda032-1cf1-45e9-b916-86861ce8b61f",
      "name": "Build Blender Command"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('generate jobID').first().json.intermediatesDir + '\\\\' + $('generate jobID').first().json.jobId + '-object-manifest.json' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1792,
        1664
      ],
      "id": "f387e343-b2d2-47f0-b89a-465a119d640f",
      "name": "Read Object Manifest"
    },
    {
      "parameters": {
        "jsCode": "// Get both JSONs\nconst proceduralJson = $('Parse Claude Call 1 Response').first().json;\nconst objectManifest = $('Read Object Manifest').first().json;\n\nconst prompt = `You are a mechanical simulation expert with all the niche knowledge and a lots of experience with Blender and all and any tools related to it. Given the Procedural JSON (assembly steps extracted from a PDF) and the Object Manifest JSON (mesh names and geometry from a CAD model), perform semantic matching between step targetObjects and mesh names, then generate a complete Simulation Execution JSON.\n\nRULES:\n- Return ONLY valid JSON. No markdown fences, no preamble, no commentary.\n- Match procedural step targetObject names to the closest mesh name in the Object Manifest.\n- frameRate must be 24.\n- All position/rotation arrays must have exactly 3 numbers.\n- frame values must be non-negative integers.\n- totalFrames must equal frameRate × total duration in seconds.\n\nOUTPUT SCHEMA:\n{\n  \"jobId\": \"string\",\n  \"frameRate\": 24,\n  \"totalFrames\": integer,\n  \"objects\": [\n    {\n      \"meshName\": \"string\",\n      \"keyframes\": [\n        { \"frame\": integer, \"position\": [x,y,z], \"rotation\": [rx,ry,rz], \"interpolation\": \"LINEAR\" }\n      ],\n      \"constraints\": []\n    }\n  ],\n  \"cameraPath\": [\n    { \"frame\": integer, \"position\": [x,y,z], \"lookAt\": [x,y,z], \"fov\": 50 }\n  ],\n  \"timingOffsets\": {}\n}\n\nPROCEDURAL JSON:\n${JSON.stringify(proceduralJson, null, 2)}\n\nOBJECT MANIFEST:\n${JSON.stringify(objectManifest, null, 2)}`;\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        1664
      ],
      "id": "e6f9cbe2-1190-4eb4-903f-aa4947d2a90d",
      "name": "Build Phase 4 Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CLAUDE_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"application/pdf\",\n            \"data\": \"{{ $('Extract from File (PDF)').first().json.pdfBinary }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"You are a mechanical simulation engineer. Extract the procedural assembly steps from this PDF and return ONLY a valid JSON object — no markdown fences, no preamble, no commentary.\\n\\nThe JSON must match this schema exactly:\\n{\\n  \\\"jobId\\\": \\\"{{ $('generate jobID').first().json.jobId }}\\\",\\n  \\\"sourceDocument\\\": \\\"{{ $('generate jobID').first().json.baseName }}.pdf\\\",\\n  \\\"totalDurationSeconds\\\": <number>,\\n  \\\"steps\\\": [\\n    {\\n      \\\"stepId\\\": \\\"step_001\\\",\\n      \\\"order\\\": 1,\\n      \\\"action\\\": \\\"<one of: move|rotate|grip|release|weld|drill|place|wait|approach|retract>\\\",\\n      \\\"targetObject\\\": \\\"<mesh name>\\\",\\n      \\\"toolInteraction\\\": \\\"<string or null>\\\",\\n      \\\"motionParams\\\": {\\n        \\\"startPosition\\\": [x,y,z] or null,\\n        \\\"endPosition\\\": [x,y,z] or null,\\n        \\\"rotationDegrees\\\": [x,y,z] or null,\\n        \\\"speed\\\": <number or null>\\n      },\\n      \\\"durationSeconds\\\": <positive number>,\\n      \\\"dependsOnStepId\\\": \\\"<string or null>\\\"\\n    }\\n  ]\\n}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        512
      ],
      "id": "b8be8fda-0dec-4a21-9d80-507f5745f717",
      "name": "Claude Call #1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CLAUDE_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Build Phase 4 Prompt').first().json.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        1488
      ],
      "id": "c6ce5b0d-bedb-4cba-82c7-784660ee9bb2",
      "name": "Claude Call #2"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\n\nconst parsed = {\n  jobId: jobId,\n  frameRate: 24,\n  totalFrames: 240,\n  objects: [\n    {\n      meshName: \"Thickener\",\n      keyframes: [\n        { frame: 0, position: [0, 0, 0], rotation: [0, 0, 0], interpolation: \"LINEAR\" },\n        { frame: 96, position: [0, 0, 0], rotation: [0, 0, 0], interpolation: \"LINEAR\" },\n        { frame: 240, position: [0, 0, 0], rotation: [0, 0, 360], interpolation: \"LINEAR\" }\n      ],\n      constraints: []\n    }\n  ],\n  cameraPath: [\n    { frame: 0, position: [10, -10, 5], lookAt: [0, 0, 0], fov: 50 },\n    { frame: 96, position: [2, -2, 1.5], lookAt: [0, 0, 0], fov: 50 },\n    { frame: 240, position: [2, -2, 1.5], lookAt: [0, 0, 0], fov: 50 }\n  ],\n  timingOffsets: {}\n};\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        1328
      ],
      "id": "ac12275a-ed4c-4e6e-9465-a4062200198f",
      "name": "Claude Call 2"
    },
    {
      "parameters": {
        "jsCode": "const response = $('groq call2').first().json;\nlet rawText = response.choices[0].message.content;\nrawText = rawText.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  throw new Error('Claude Call 2: JSON parse failed — ' + e.message + ' | Raw: ' + rawText.substring(0, 300));\n}\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1664
      ],
      "id": "3e261c85-6286-43c0-abf8-0c9660eb09cf",
      "name": "Parse Claude Call 2 Response"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Claude Call 2 Response').first().json;\nconst jobId = $('generate jobID').first().json.jobId;\nconst intermediatesDir = $('generate jobID').first().json.intermediatesDir;\n\nconst jsonString = JSON.stringify(parsed, null, 2);\nconst binary = Buffer.from(jsonString, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    jobId,\n    intermediatesDir,\n    fileName: `${jobId}-simulation-execution.json`\n  },\n  binary: {\n    data: {\n      data: binary,\n      mimeType: 'application/json',\n      fileName: `${jobId}-simulation-execution.json`\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        1664
      ],
      "id": "4a0419ce-6446-495e-b76e-766b2998aea7",
      "name": "Prepare Simulation JSON Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.intermediatesDir + '\\\\' + $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        1664
      ],
      "id": "9fd832bd-54b1-451b-b9ea-16f3d6f355bd",
      "name": "Write Simulation Execution JSON"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\nconst intermediatesDir = $('generate jobID').first().json.intermediatesDir;\nconst repoRoot = $('generate jobID').first().json.repoRoot;\n\nconst inputFile = `${intermediatesDir}\\\\${jobId}-simulation-execution.json`;\nconst schemaFile = `${repoRoot}\\\\schemas\\\\simulation_execution.schema.json`;\nconst errorLog = `${intermediatesDir}\\\\${jobId}-validation-error.log`;\n\nconst cmd = `python \"${repoRoot}\\\\scripts\\\\validate_schema.py\" --input \"${inputFile}\" --schema \"${schemaFile}\" --errorlog \"${errorLog}\"`;\n\nreturn [{ json: { validationCmd: cmd } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        2128
      ],
      "id": "c4cb8e2c-2416-49c5-bf1f-c2b3d236149b",
      "name": "Build Validation Command"
    },
    {
      "parameters": {
        "command": "={{ $json.validationCmd }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1568,
        2128
      ],
      "id": "2bf1c3dc-16de-4231-80e8-1854d85ac551",
      "name": "Run Schema Validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "928844e0-8305-41b9-af95-4d1984d7a07c",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1360,
        2128
      ],
      "id": "a702da32-904f-4de8-b642-2c5ffe406004",
      "name": "Validation Pass check"
    },
    {
      "parameters": {
        "errorMessage": "=Schema validation failed. Check: {{ $('generate jobID').first().json.intermediatesDir }}\\{{ $('generate jobID').first().json.jobId }}-validation-error.log"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1136,
        2144
      ],
      "id": "d7b3c84c-9219-4abe-89bb-33f203037380",
      "name": "Validation Failed"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\nconst baseName = $('generate jobID').first().json.baseName;\nconst repoRoot = $('generate jobID').first().json.repoRoot;\nconst intermediatesDir = $('generate jobID').first().json.intermediatesDir;\nconst cadFile = `C:\\\\pipeline\\\\inputs\\\\cad\\\\${baseName}.fbx`;\nconst blenderExe = `C:\\\\Program Files\\\\Blender Foundation\\\\Blender 4.5\\\\blender.exe`;\nconst script = `${repoRoot}\\\\scripts\\\\blender_simulate_render.py`;\nconst simJson = `${intermediatesDir}\\\\${jobId}-simulation-execution.json`;\nconst manifest = `${intermediatesDir}\\\\${jobId}-object-manifest.json`;\nconst outDir = `${intermediatesDir}\\\\frames`;\nconst logPath = `C:\\\\pipeline\\\\logs\\\\${jobId}-blender-render.log`;\nconst blenderSimCmd = `cmd /c \"\\\"${blenderExe}\\\" --background --python \\\"${script}\\\" -- --cad \\\"${cadFile}\\\" --simjson \\\"${simJson}\\\" --manifest \\\"${manifest}\\\" --outdir \\\"${outDir}\\\" >> \\\"${logPath}\\\" 2>&1 & echo RENDER_DONE\"`;\nreturn [{ json: { blenderSimCmd, jobId, intermediatesDir } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        2560
      ],
      "id": "3f25fb4f-b2ed-40f1-8612-61d5d1dc4e1b",
      "name": "Build Blender Simulate Command"
    },
    {
      "parameters": {
        "command": "={{ $json.blenderSimCmd }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1568,
        2560
      ],
      "id": "3ff9db56-082a-4ddb-aaa3-39dd6b513e14",
      "name": "Run Blender Simulation + Render"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\nconst framesDir = `C:\\\\pipeline\\\\intermediates\\\\${jobId}\\\\frames\\\\frame_%04d.png`;\nconst outFile = `C:\\\\pipeline\\\\outputs\\\\${jobId}.mp4`;\n\nconst ffmpegCmd = `ffmpeg -framerate 24 -i \"${framesDir}\" -c:v libx264 -pix_fmt yuv420p -crf 18 -preset slow \"${outFile}\"`;\n\nreturn [{ json: { ffmpegCmd, jobId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        3008
      ],
      "id": "9f47f18b-7ec6-4963-b12d-3a3e4c776d45",
      "name": "Build FFmpeg Command"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpegCmd }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1568,
        3008
      ],
      "id": "395f73e4-03d5-41e9-9f70-99b403917a61",
      "name": "Assemble Video"
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('generate jobID').first().json.jobId;\nconst outputsDir = $('generate jobID').first().json.outputsDir;\nconst logsDir = $('generate jobID').first().json.logsDir;\n\nconst report = {\n  jobId: jobId,\n  status: \"success\",\n  endTime: new Date().toISOString(),\n  claudeCallCount: 2,\n  outputVideoPath: `${outputsDir}\\\\${jobId}.mp4`,\n  errorLog: null\n};\n\nconst reportFileName = `${jobId}-report.json`;\nconst reportDir = logsDir;\n\nreturn [{ json: { report, reportFileName, reportDir } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        3440
      ],
      "id": "088343f9-96c7-46ae-861d-efaf15f79505",
      "name": "Build Completion Report"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.reportDir + '\\\\' + $json.reportFileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1344,
        3440
      ],
      "id": "eb2bda44-9024-4c5f-ac39-6f790f167b62",
      "name": "Write Completion Report"
    },
    {
      "parameters": {
        "jsCode": "const report = $input.first().json.report;\nconst reportFileName = $input.first().json.reportFileName;\nconst reportDir = $input.first().json.reportDir;\n\nconst reportStr = JSON.stringify(report, null, 2);\nconst base64 = Buffer.from(reportStr).toString('base64');\n\nreturn [{\n  json: { reportFileName, reportDir },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'application/json',\n      fileName: reportFileName\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        3440
      ],
      "id": "b2473d8f-2621-4255-8691-a72007e52c35",
      "name": "Prepare Report Binary"
    },
    {
      "parameters": {
        "errorMessage": "Something went wrong, check erroe logs."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1136,
        3440
      ],
      "id": "1b9c92d5-b637-4a2f-93f6-9aa493730b52",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"llama-3.3-70b-versatile\",\"messages\":[{\"role\":\"user\",\"content\":\"Return ONLY this exact JSON, no other text: {\\\"test\\\":\\\"ok\\\"}\"}],\"max_tokens\":100}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        688
      ],
      "id": "ffea7127-b3dd-4ae4-aaa6-af6c1b20c470",
      "name": "groq call1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "b1JfDwkNLVZZzNN9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"llama-3.3-70b-versatile\",\"messages\":[{\"role\":\"user\",\"content\":\"Return ONLY this exact JSON, no other text: {\\\"test\\\":\\\"ok2\\\"}\"}],\"max_tokens\":100}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        1664
      ],
      "id": "1ba8a40c-6510-4147-a80b-6be9bdaac469",
      "name": "groq call2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "b1JfDwkNLVZZzNN9",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Scan Input Folders": {
      "main": [
        [
          {
            "node": "pair check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual trigger": {
      "main": [
        [
          {
            "node": "List Input Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pair check": {
      "main": [
        [
          {
            "node": "generate jobID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait (30s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retry pair check": {
      "main": [
        [
          {
            "node": "generate jobID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log pair failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (30s)": {
      "main": [
        [
          {
            "node": "List Input Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Input Files": {
      "main": [
        [
          {
            "node": "Scan Input Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Input Files1": {
      "main": [
        [
          {
            "node": "Scan Input Folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Input Folders1": {
      "main": [
        [
          {
            "node": "retry pair check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate jobID": {
      "main": [
        [
          {
            "node": "Create Job Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Folder": {
      "main": [
        [
          {
            "node": "Extract from File (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File (PDF)": {
      "main": [
        [
          {
            "node": "Claude Call 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Call 1 Response": {
      "main": [
        []
      ]
    },
    "Prepare Procedural JSON Binary": {
      "main": [
        [
          {
            "node": "Write Procedural JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Procedural JSON": {
      "main": [
        [
          {
            "node": "Build Blender Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Blender Preprocess": {
      "main": [
        [
          {
            "node": "Read Object Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Blender Command": {
      "main": [
        [
          {
            "node": "Run Blender Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Object Manifest": {
      "main": [
        [
          {
            "node": "Build Phase 4 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Phase 4 Prompt": {
      "main": [
        [
          {
            "node": "groq call2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Call 2 Response": {
      "main": [
        [
          {
            "node": "Prepare Simulation JSON Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Simulation JSON Binary": {
      "main": [
        [
          {
            "node": "Write Simulation Execution JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Simulation Execution JSON": {
      "main": [
        [
          {
            "node": "Build Validation Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Command": {
      "main": [
        [
          {
            "node": "Run Schema Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Schema Validation": {
      "main": [
        [
          {
            "node": "Validation Pass check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Pass check": {
      "main": [
        [
          {
            "node": "Build Blender Simulate Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Blender Simulate Command": {
      "main": [
        [
          {
            "node": "Run Blender Simulation + Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Blender Simulation + Render": {
      "main": [
        [
          {
            "node": "Build FFmpeg Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build FFmpeg Command": {
      "main": [
        [
          {
            "node": "Assemble Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video": {
      "main": [
        [
          {
            "node": "Build Completion Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Completion Report": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Completion Report": {
      "main": [
        [
          {
            "node": "Prepare Report Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Report Binary": {
      "main": [
        [
          {
            "node": "Write Completion Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq call1": {
      "main": [
        [
          {
            "node": "Parse Claude Call 1 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq call2": {
      "main": [
        [
          {
            "node": "Parse Claude Call 2 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Call 1": {
      "main": [
        [
          {
            "node": "Prepare Procedural JSON Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cb0d4735-cb8c-45df-bf41-4a09960df580",
  "meta": {
    "instanceId": "26aec703d4ef38ac4e911caf870148d44cf371b3b58793422bf8af1f68ed0daf"
  },
  "nodeGroups": [],
  "id": "kz0g5cuyCzaXKiTm",
  "tags": []
}